.bloc-main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .list-product {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .elm {
            width: calc(33% - 20px);
            margin: 10px;
            cursor: pointer;
        }
    }
}

.loading{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 225px;
    span {
        width: 400px !important;
        height: 400px !important;
    }
}