.bloc-product {
    width: 100%;
    display: flex;
    flex-direction: row;

    .img {
        height: auto;
        width: 30%;
        margin: 20px 50px;
    }
    .details-product{
        margin-top: 15px;
        width: calc(70% - 100px);
    }
}