.bloc-nav-bar{
    width: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: row-reverse;
    .counter{
        position: absolute;
        margin-right: 0px;
        margin-top: 1px;
        background-color: #f50808;
        border-radius: 91px;
        width: 14px;
        height: 14px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            font-size: 10px !important;
            font-weight: bold;
        }
    
    }
}