.bloc-product {
    width: 100%;
    display: block;

    .title {}

    .img {
        height: 100px;
        width: 100px;

        img {
            height: 100%;
            width: 100%;
        }
    }
    .cart{
        cursor: pointer;
    }
    .number{
        display: flex;
        flex-direction: row;
        div{
            width: 30px;
            text-align-last: center;        
        }
    }
}